.outC {
    display: flex;
    justify-content: center;

}

.mainc {
    display: flex;
    justify-content: center;
}

.half {
    width: 50%;
    display: flex;
    justify-content: center;
}

#switchFormButton {
    text-decoration: underline;
    color: blue;
}

.outC>.inc {

    justify-content: center;
    margin-top: 10%;

}